<div>
	<div class="col-md-12">
		<div class="panel panel-default">
		 	<div class="panel-heading clearfix"><b>Alerts</b>
		 	<div class="btn-group pull-right">
		 			<a href="#" ng-click="reload()" class="btn btn-default btn-sm">Reload</a>	
	        		<a href="/" class="btn btn-default btn-sm">Back</a>	        
	      		</div> 	
		 	</div>
		  	<div class="panel-body">
		  		<div class="table-responsive">
				<p class="text-center col-md-12 lead" ng-show="sites.length==0">No sites</p>
				<table class="table" ng-show="!sites.length==0">
				  	<thead>
	                  	<tr>
	                  		<th class="text-center">#</th>
		                    <th class="text-center">Site</th>
		                    <th class="text-center">Last Response</th>
		                    <th class="text-center">Response Avg.</th>
		                    <th class="text-center">Uptime</th>
		                    <th class="text-center">Total Re sponse</th>
		                    <th class="text-center">Last Error</th>
		                    <th>&nbsp;</th>
	                  	</tr>
                	</thead>
					<tbody>
				  		<tr ng-repeat="site in sites | orderBy:['-state']" 
				  			ng-class="{1:'warning', 2:'danger'}[site.state]" >
				  			<td class="text-center">
				  				<i ng-class="{true:'glyphicon glyphicon-user'}[site.useCredentials]" tooltip="Use credentials"></i>&nbsp;
				  				<i ng-class="{true:'glyphicon glyphicon-transfer'}[site.useProxy]" tooltip="Use proxy"></i>
				  			</td>
				  			<td><a href="{{site.url}}" target="_blank" />{{site.website}}<span ng-show="!site.active">(Stoped)</span></a></td>  
				  			<td class="text-center">{{getResponceTime(site)}}</td>
				  			<td class="text-center">{{site.avgResponseTime}} {{site.avgResponseTime ? 'ms' :''}}</td>
				  			<td class="text-center">{{site.upTime}} %</td>
				  			<td class="text-center">
				  				<span class="badge badge-success">{{site.succesCount}}</span> 
				  				<span class="badge badge-warning">{{site.warningCount}}</span>
				  				<span class="badge badge-error">{{site.errorCount}}</span>
				  			</td>
				  			
				  			<td>
							<a href="#" popover="{{site.errorMessage}}" popover-trigger="mouseenter" popover-placement="bottom" Popover-animation="true">
							 {{dateFormat(site.lastErrorTime)}} <small>{{timeAgo(site.lastErrorTime)}}</small></a>
				  			</td>
				  			<td class="text-center">
					  			<td class="text-center">
					  			<a href="edit/{{site.id}}" tooltip="Edit" login><i class="glyphicon glyphicon-pencil"></i></a>
								&nbsp; 
					  			<a href="view/{{site.id}}" tooltip="View detail"><i class="glyphicon glyphicon-info-sign"></i></a>
				  			</td>
				  			</td>
				  		</tr>
				  	</tbody>  
				  </table>
				</div>	
			</div>
		</div>
	</div>
</div>